.rightside {
  position: relative;
  background-color: #252526;
  height: 100%;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  background-color: #1e1e1e;
  position: absolute;
  bottom: 16px;
  width: 200px;
  line-height: 40px;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-between;
}

.toolbar .sizetext {
  color: #cccccc;
  padding-left: 12px;
}